TENANT_ID=
CLIENT_ID=
CLIENT_SECRET=

MAILBOX=email@domain.tld

SMTP_HOST=x.x.x.x
SMTP_PORT=25

FILTER_RCPT_DOMAIN=domain.tld

MAX_PER_CYCLE=5
POLL_SECONDS=60
BACKOFF_SECONDS=90

KEEP_UNSEEN=true
MARK_AS_READ=false

DRY_RUN=false